# Terraform
terraform/.terraform/
terraform/*.tfstate*
terraform/*.lock.hcl
terraform/terraform.tfvars
terraform/*.backup
*.tfstate
*.tfstate.backup

# Secrets
.env

# Logs
*.log

# Node
node_modules/

# SSH / kubeconfig
*.pem
*.key
kubeconfig*
config.k8s-lab

# OS
.DS_Store