# =============================================================
# Terraform variables — Éditez ce fichier avec vos valeurs
# =============================================================

# --- Connexion Proxmox ---
proxmox_api_url    = "https://192.168.1.10:8006"
proxmox_user       = "root@pam"
proxmox_password   = ""
proxmox_api_token  = "root@pam!terraform=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"

# --- Cluster ---
cluster_name       = "k8s"
proxmox_node       = "pve"
template_vm_id     = 9000

# --- Réseau — ADAPTER À VOTRE ENVIRONNEMENT ---
vm_bridge          = "vmbr0"
vm_network_cidr    = "192.168.1.0/24"
vm_gateway         = "192.168.1.1"
control_plane_ip   = "192.168.1.231"
worker_ips         = ["192.168.1.232", "192.168.1.233"]

# --- Ressources VM ---
control_plane_cores  = 4
control_plane_memory = 4096   # Mo
worker_cores         = 2
worker_memory        = 4096   # Mo
vm_disk_size         = 30     # Go
vm_disk_storage      = "local-lvm"

# --- SSH — collez votre clé publique ---
ssh_public_key      = "ssh-ed25519 AAAA... votre@machine"
ssh_user            = "ubuntu"